<div class="container d-flex justify-content-center align-items-center" style="height: 80vh">
    <div style="min-width: 400px; width: 100%; max-width: 100px;">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-header bg-primary text-white text-center">
                <h3><b>LOGIN</b></h3>
                <p class="mb-0">Please fill out the form below with accurate information.</p>
            </div>
            <div class="card-body p-4">
                <form method="POST" asp-controller="Account" asp-action="Admin">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Enter your username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter your password" required>
                    </div>
                    <button type="submit" class="btn btn-warning w-100">Login</button>
                </form>
            </div>

        </div>
    </div>
</div>
